:root{
    background-color: rgb(0, 0, 7);
    font-family: helvetica, 'Times New Roman', Times, serif;
    --light: rgb(26, 129, 143);
    --dark: rgb(35, 35, 97);
    margin: 1% 2%;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.header{
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;;
}

.header h1{
    font-size: 350%;
    display: flex;
    color: var(--dark);
    background-color: var(--light);
    justify-content: flex-end;
    align-items: center;
    padding-left:40px;
    padding-right: 10px;
}

.header nav ul{
    font-size: 30px;
    color: var(--light);
    list-style: none;
    flex: wrap;
    align-items: center;
    overflow: auto;
}    
/* Overflow auto  */

.header nav ul li{
    text-align: center;
    float: left;
    padding: 15px;
}

.header nav li a{
    color: var(--light);
}

.figure{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 10%;
}

.figure img{
    width: 100%;
    height: auto;
   
}

.figure p{
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: white;
    position: relative;
    right: 20%;
    bottom: 100%;
    color: var(--light);
    font-size: 30px;
}

section{
    background-color: aliceblue;
}

.body-heading{
    float: left;
    width: 25%;
}

.body-heading h1{
    flex-wrap: wrap;
    color: var(--light);
    font-size: 300%;
    justify-content: flex-end;
    text-align: right;
    padding: 0 10px;
    margin-right: 5px;    
}

section p{
    display: flex;
    color: var(--light);
    margin-top: 4%;
    padding-left: 10px;
    border-left: 2px solid var(--light);    
}
