:root{
    background-color: rgb(0, 0, 7);
    font-family: helvetica, 'Times New Roman', Times, serif;
    --light: rgb(26, 129, 143);
    --dark: rgb(35, 35, 97);
    margin: 1% 2%;
}

.header{
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;;
}

.header h1{
    font-size: 50px;
    display: flex;
    color: var(--dark);
    background-color: var(--light);
    justify-content: flex-end;
    align-items: center;
    padding-left:40px;
    padding-right: 10px;
}

.header nav ul{
    font-size: 30px;
    color: var(--light);
    list-style: none;
    flex: wrap;
    align-items: center;
    overflow: auto;
}    
/* Overflow auto  */

.header nav ul li{
    text-align: center;
    float: left;
    padding: 15px;
}

.header nav li a{
    color: var(--light);
}