:root {
    background-color: rgb(0, 0, 7);
    font-family: helvetica, 'Times New Roman', Times, serif;
    --light: rgb(26, 129, 143);
    --dark: rgb(35, 35, 97);
    margin: 1% 2%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.header {
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.header h1 {
    font-size: 350%;
    display: flex;
    color: var(--dark);
    background-color: var(--light);
    justify-content: flex-end;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
}

.header nav ul {
    font-size: 30px;
    color: var(--light);
    list-style: none;
    flex: wrap;
    align-items: center;
    overflow: auto;
}

/* Overflow auto  */

.header nav ul li {
    text-align: center;
    float: left;
    padding: 15px;
}

.header nav li a {
    color: var(--light);
}

.figure {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 10%;
}

.figure img {
    width: 100%;
    height: auto;

}

.figure p {
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: white;
    position: relative;
    right: 20%;
    bottom: 100%;
    color: var(--light);
    font-size: 30px;
}

.white-background {
    background-color: aliceblue;
}

.body-heading {
    float: left;
    width: 20%;
    padding-bottom: 3%;
    padding-right: 1%;
}

.body-heading h1 {
    color: var(--light);
    font-size: 300%;
    text-align: right;
}

.body-content {
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    
}

.body-content p {
    color: var(--light);
}

.large-card {
    width: 100%;
    height: auto;
    border: 7px solid var(--light);
    display: flex;
    
}

.large-card img {
    width: 100%;
    height: 100%;
}

.large-card p {
    font-size: 2em;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    height: 17%;
    z-index: 1;
    position: relative;
    right: 100%;
    top: 60%;
    
}

.small-card {
    width: 39%;
    height: 150px;
    border: 7px solid var(--light);
    display: flex;
    flex-wrap: wrap;   
}

.small-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.small-card figcaption {
    font-size: 2em;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    height: 23%;
    z-index: 1;
    position: relative;
    bottom: 45%;
}

.footer ul {
    font-size: 30px;
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    color: var(--light);
    list-style: none;
    height: 120px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    /* overflow: auto;  */
}

.footer ul li {
    /* color: black;
    text-align: center;
    /* float: left; */
    /* padding: 15px; */
}