:root {
    background-color: rgb(0, 0, 7);
    font-family: helvetica, 'Times New Roman', Times, serif;
    --light: rgb(26, 129, 143);
    --dark: rgb(35, 35, 97);
    margin: 1% 2%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.header {
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header h1 {
    font-size: 50px;
    color: var(--dark);
    background-color: var(--light);
    padding-left: 40px;
    padding-right: 10px;
    
}

.header nav ul {
    font-size: 30px;
    color: var(--light);
    list-style: none;
    display: flex;
    flex: wrap;
    align-items: center;
}

.header nav ul li {
    margin: 0px 3px;
    height: 30px;
    border-bottom: 3px solid var(--light);
}

.header nav ul li:hover {
    border-bottom: 10px solid var(--light);
}

.header nav ul li a {
    text-decoration: none;
}

.header nav ul li {
    text-align: center;
    float: left;
    padding: 15px;
}

.header nav li a {
    color: var(--light);
}

.figure {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 10%;
    
}

.figure img {
    width: 100%;
    height: auto;

}

.figure p {
    flex-direction: row;
    z-index: 1;
    justify-self: center;
    align-self: center;
    position: relative;
    right: 25%;
    bottom: 100%; 
    color: var(--light);
    font-size: 30px;
}

.white-background {
    background-color: aliceblue;
}

.body-heading {
    float: left;
    width: 20%;
    padding-bottom: 3%;
    padding-right: 1%;
}

.body-heading h1 {
    color: var(--light);
    font-size: 300%;
    text-align: right;
}

.body-content {
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

.body-content p {
    color: var(--light);
}

.body-content a {
    text-decoration: none;
}

.body-content a img:hover {
    filter: brightness(130%)
}

.large-card {
    width: 100%;
    height: auto;
    border: 7px solid var(--light);
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

.large-card img {
    width: 100%;
    height: 100%;
}

.large-card figcaption {
    font-size: 2em;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    height: 40px;
    z-index: 1;
    position: relative;
    bottom: 35%;

}

.small-card {
    width: 42%;
    height: 150px;
    border: 7px solid var(--light);
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}


.small-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-card figcaption {
    font-size: 2em;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    height: 40px;
    z-index: 1;
    position: relative;
    bottom: 45%;
}

.footer {
    
}

.footer ul {
    font-size: 30px;
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    color: var(--light);
    list-style: none;
    height: 120px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer ul li {
    border-bottom: 3px solid var(--light)
}

.footer ul li:hover {
    border-bottom: 10px solid var(--light)
}

.footer ul li a {
    text-decoration: none;
    color: var(--light);
}

@media screen and (max-width: 992px) {
    .header h1 {
        font-size: 250%;
    }

    .body-heading h1 {
        font-size: 200%;
    }

    .header nav ul{
        font-size: 20px;
    }

    .small-card {
        width: 40%;
    }

    .footer ul {
        font-size: 22px;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    .figure p {
        font-size: 28px;
    }

    .small-card {
        width: 100%;
     }
    
    .footer ul {
        font-size: 18px;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {

}