/* These attributes apply to all the elements within the body element */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 7);
    font-family: helvetica, 'Times New Roman', Times, serif;
    --light: rgb(63, 126, 185);
    --dark: rgb(29, 37, 110);
    margin: 1% 2%;
}


.header {
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    /* Header is displayed as flex with justify-content and align-items set to position the h1 
    and nav elements within the header */
    height: 100px;
}

.header h1 {
    font-size: 50px;
    color: var(--dark);
    background-color: var(--light);
    padding-left: 40px;
    padding-right: 10px;
}

.header nav ul {
    font-size: 24px;
    color: var(--light);
    list-style: none;
    display: flex;
    align-items: center;
    /* Flex display allows for li elements within ul to be aligned in the center */
}

.header nav ul li {
    margin: 0px 3px;
    height: 20px;
    border-bottom: 3px solid var(--light);
}

.header nav ul li:hover {
    border-bottom: 10px solid var(--light);
    /* When hovering over li items, the border increases in size */
}

.header nav ul li a {
    text-decoration: none;
}

.header nav ul li {
    text-align: center;
    padding: 15px;
}

.header nav li a {
    color: var(--light);
}

.figure {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 10%;
}

.figure img {
    width: 100%;
    height: auto;
    /* The width set to 100% causes the image to take up all the space available */
}

.figure p {
    z-index: 1;
    align-self: center;
    position: relative;
    right: 25%;
    bottom: 100%; 
    /* Setting position to relative allows the <p> element to be placed in an exact position spaced from
    the right and bottom */
    color: var(--light);
    font-size: 30px;
}

.white-background {
    background-color: aliceblue;
}

.body-heading {
    float: left;
    width: 20%;
    /* The float and width set make the body headings take up 20% of the available space on the left*/
    padding-bottom: 3%;
    padding-right: 1%;
}

.body-heading h2 {
    color: var(--light);
    font-size: 40px;
    text-align: right;
    /* Right text-align makes the words in the heading hug the right side of the element */
}

.body-content {
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

.body-content p {
    color: var(--light);
}

.body-content a {
    text-decoration: none;
}

.body-content a:hover {
    filter: brightness(120%)
    /* This hover pseudoclass increases the brightness of the <a> tags/cards in the body */
}

.large-card {
    width: 100%;
    border: 7px solid var(--light);
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

.large-card img {
    width: 100%;
    height: 100%;
    /* Causes the image to take up all available space within the large-card class */
}

.large-card figcaption {
    font-size: 35px;
    color: var(--dark);
    background-color: var(--light);
    height: 40px;
    z-index: 1;
    /* Makes the caption appear on top of the image withing the large-card */
    position: relative;
    bottom: 30%;
    /* Places the caption on the left side of large-card class element, on top of the image */
}

.small-card {
    width: 42%;
    height: 150px;
    border: 7px solid var(--light);
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}


.small-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* The height and width set cause the image to take up all available space with the object-fit 
    set to cover allowing for the image to be cropped and not distorted */
}

.small-card figcaption {
    font-size: 32px;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    height: 40px;
    z-index: 1;
    position: relative;
    bottom: 45%;
}

.footer ul {
    font-size: 30px;
    border-left: 2px solid var(--light);
    padding: 0% 2%;
    color: var(--light);
    list-style: none;
    height: 100px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    /* The flex display with wrap, align-items, and justify-content control the layout of the
    li within the ul element */
}

.footer ul li {
    border-bottom: 3px solid var(--light)
}

.footer ul li:hover {
    border-bottom: 10px solid var(--light)
    /* When hovering over li element, the border increases in size */
}

.footer ul li a {
    text-decoration: none;
    color: var(--light);
}

/* Changes the size of various elements to make it fit on a screen as screen size decreases */
@media screen and (max-width: 992px) {
    .header h1 {
        font-size: 40px;
    }

    .body-heading h2 {
        font-size: 30px;
    }

    .header nav ul li{
        font-size: 20px;
        height: 30px
    }

    .small-card {
        width: 40%;
    }

    .footer ul {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .figure p {
        font-size: 28px;
    }

    .small-card {
        width: 100%;
        /* Causes the small card to take up the whole width of the available space */
     }
    
    .footer ul {
        font-size: 18px;
    }
}
